<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="docsearch:language" content="ru">
    <meta name="description" content="Моя домашняя страничка, где ..">
    <meta name="keywords" content="Python, Flask, PyQt6, Django, Debian, linux, GNU, freelance, разработчик, стажировка">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Моя домашняя страничка">
    <meta property="og:description" content="Личная страница начинающего разработчика на Python.">
    <meta property="og:image" content="img/malina.png">
    <meta property="og:url" content="урл странички на сервере">
    
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>

    <!-- Хедер -->
    <header class="d-flex justify-content-between align-items-center py-3 custom-header">
        <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" style="width: 50px; height: 50px; vertical-align: middle;">
            <h1 class="ms-3">Добро пожаловать на мою страницу</h1>
        </div>
        <a href="{{url_for('login')}}" class="btn btn-header">Войти</a>
    </header>

    <!-- Основной контент -->
    <main class="container mt-4">
        <!-- Это потом стереть -->
        <h2>Основной контент</h2>
        <p>Здесь вы можете разместить основной контент вашей страницы.</p>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Футер -->
    <footer class="text-center py-2 mt-4 custom-footer">
        <p>&copy; 2026 Ваше имя. Все права защищены.</p>
    </footer>
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    -->
</body>
</html>
