<!--
   login.html
-->
{% extends "base.html"%}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Введите логин/пароль</h1>
<br>
   <div class='container'>
    <form method="post">
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Войти">
    </form>
    </div>
{% endblock %}
 
